#
# SDK.rc
#
# Copyright (C) 1999-2014 Parallels IP Holdings GmbH
#
# This file is part of Parallels SDK. Parallels SDK is free
# software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by
# the Free Software Foundation; either version 2.1 of the License,
# or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library.  If not, see
# <http://www.gnu.org/licenses/>.
#
# Our contact details: Parallels IP Holdings GmbH, Vordergasse 59, 8200
# Schaffhausen, Switzerland; http://www.parallels.com/.
#

#include <winver.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN

#define VER_FILEDESCRIPTION_STR     "Parallels Public API"
#define VER_INTERNALNAME_STR        "prl_sdk"
#define VER_ORIGINALFILENAME_STR    "prl_sdk.dll"

#include "..\..\Build\Current.ver"

// On Windows Explorer associates with the binary first icon of its
// embeded resources - so keeping application icon in the front :)
IDR_MAINFRAME	ICON	"..\..\GUI\Resources\pixmaps\GenericExecutable.ico"
